<% extend('layout') %>
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item main">Main</a>
    <a class="active item clothes">Clothes</a>
    <a class="item shoes">Shoes</a>
    <a class="item beauty">Beauty</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button login">Log in</a>
      </div>
      <div class="item">
        <a class="ui button checkOut">Check out</a>
      </div>
      <!--<div class="item">-->
        <!--<a class="ui primary button signup">Sign Up</a>-->
      <!--</div>-->
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="item main">Main</a>
  <a class="active item clothes">Clothes</a>
  <a class="item shoes">Shoes</a>
  <a class="item beauty">Beauty</a>
  <a class="item login">Login</a>
  <a class="item checkOut">Check out</a>
  <!--<a class="item signup">Signup</a>-->
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item main">Main</a>
        <a class="active item clothes">Clothes</a>
        <a class="item shoes">Shoes</a>
        <a class="item beauty">Beauty</a>
        <div class="right item">
          <a class="ui inverted button login">Log in</a>
          <a class="ui inverted button checkOut">Check out</a>
          <!--<a class="ui inverted button signup">Sign Up</a>-->
        </div>
      </div>
    </div>

    <!--<div class="ui text container">-->
      <!--&lt;!&ndash;<h1 class="ui inverted header">&ndash;&gt;-->
        <!--&lt;!&ndash;Imagine-a-Company&ndash;&gt;-->
      <!--&lt;!&ndash;</h1>&ndash;&gt;-->
      <!--&lt;!&ndash;<h2>Do whatever you want when you want to.</h2>&ndash;&gt;-->
      <!--<h1 class="ui inverted header">-->
        <!--New Styles in Even More Sizes-->
      <!--</h1>-->
      <!--<h3>From your favorite brands, including Free People, Topshop, Madewell and more.</h3>-->
      <!--<h4><span><u>XXS & 00</u>  </span><span><u>XXL-XXXL & 16-20</u>  </span><span><u>Petite</u>  </span><span><u>Plus</u>  </span></h4>-->
    <!--</div>-->
  </div>

  <div class = "ui grid">
    <div class="first wide column ">
      <div class="ui image center">
        <img>
      </div>
    </div>
    <div class="fourteen wide column ">
        <div class="ui image center">
          <img src="/images/clothes/clothes3.png">
        </div>
    </div>
    <div class="first wide column ">
      <div class="ui image center">
        <img>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class = "ui celled grid">
    <div class="three column row">
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
    </div>
    <div class="three column row">
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
    </div>
    <div class="three column row">
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
      <div class="column">
        <div class="ui">
          <img>
        </div>
      </div>
    </div>
  </div>
</div>