<% extend('layout') %>
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <!--<a class="active item main">Main</a>-->
        <!--<a class="item clothes">Clothes</a>-->
        <!--<a class="item shoes">Shoes</a>-->
        <!--<a class="item beauty">Beauty</a>-->
        <div class="right menu">
            <div class="item">
                <a class="ui primary button login loginButton">Login</a>
            </div>
            <div class="item">
                <a class="ui button logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item login">Login</a>
    <a class="item logout">Logout</a>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <!--<a class="active item main">Main</a>-->
                <!--<a class="item clothes">Clothes</a>-->
                <!--<a class="item shoes">Shoes</a>-->
                <!--<a class="item beauty">Beauty</a>-->
                <div class="right item">
                    <a class="ui inverted button blue login">Login</a>
                    <a class="ui inverted button blue logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                Welcome to Firelight!
            </h1>
            <h2>Let's shopping!</h2>
            <a class="ui huge primary button clothes">Get Started <i class="right arrow icon"></i></a>
        </div>
    </div>
    <div class = "ui grid">
        <div class="sixteen wide column">
            <div class="ui image">
                <img src="/images/clothes/clothes1.png">
            </div>
        </div>
    </div>
    <div class = "ui two column grid segment">
        <div class="eight wide column">
            <div class="ui image">
                <img src="/images/accessory/accessory5.png">
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="ui image">
                        <img src="/images/accessory/accessory1.png">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui image">
                        <img src="/images/accessory/accessory2.png">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui image">
                        <img src="/images/accessory/accessory3.png">
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui image">
                        <img src="/images/accessory/accessory4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>